# 디폴트 무시된 파일
/../../../../../시스템프로그래밍/Assignment/Assembler/SP25_Project1b/.idea/shelf/
/../../../../../시스템프로그래밍/Assignment/Assembler/SP25_Project1b/.idea/workspace.xml
# 에디터 기반 HTTP 클라이언트 요청
/../../../../../시스템프로그래밍/Assignment/Assembler/SP25_Project1b/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../../시스템프로그래밍/Assignment/Assembler/SP25_Project1b/.idea/dataSources/
/../../../../../시스템프로그래밍/Assignment/Assembler/SP25_Project1b/.idea/dataSources.local.xml
